@import "../../../../mixins.module.scss";

.catContainer {
  padding: 2% 7% 7% 7%;
}

.listBox {
  margin-bottom: 3%;
}

.titleList {
  @include x-sa;
}

.activeTabStyle {
  padding: 1%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  border: 1px solid #ed3237;
  color: #ed3237;
  white-space: nowrap;
}

.inactiveTabStyle {
  padding: 1%;
  border: 1px solid #d9d9d9;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #797979;
  white-space: nowrap;
}

.catItem {
  margin: 1.5% 0;
  position: relative;
  @include x-center;
  cursor: pointer;
  img{
    height:100%;
    width:100%;
  }
}

.productOverlay {
  position: absolute;
  color: #fff;
  // top: 0;
  // left: 0;q1`
  font-size: 20px; 
  font-weight: 900;  
  width: 92%;
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
}


.productOverlay p{
  padding-inline: 1rem;
}

.catItem:hover .productOverlay {
  opacity: 1;
}


@media (max-width:992px){
  .catItem{
      img{
        width:100%;
      }
  }
}

@media (max-width:992px) and (orientation:landscape){
  .catItem{
      img{
        width:100%;
      }
  }
}


@media (max-width:576px){
  .catItem{
   margin:2% 0;
    img{
      width:100%;
    }
  }
}
